body{
  margin: 0 auto;
  font-family: Cambria;
  color: #444444;
  line-height: 1.5;
  max-width: 960px;
  padding: 30px;
}
a {
  color: #444444;
  text-decoration: none;
}
h1,h3 {
  font-variant: small-caps;
}
h1,blockquote {
  text-align: center;
}
time {
  float: right;
}
